<footer role="contentinfo" class="footer-site">
	<div class="layout-constrained">
		<ul class="inline-items">
			<li><a href="#">Terms</a></li>
	    	<li><a href="#">Get in touch</a></li>
		</ul>
		<small>© 2014 ProjectX</small>
	</div>
</footer>			