/*------------------------------------*\
    $FORMS
\*------------------------------------*/

fieldset{
    padding: 0;
    border: 0;
}

.text-input,
textarea {

}


.form-group {
    margin-bottom: 1em;
}

.input-list {
  @extend .group;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

  .input-list__item {

    .input-list--trio & {
      width: 30%;
      float: left;
      margin-right: 3%;
    }

}


.btn-radio {
  display: block;

  .btn-radio__btn {
    display: block;
    padding: 1.5em;
    border: 1px solid #ddd;
  }

  input[type="radio"] {
    position: absolute;
    left: -9999px;
    z-index: -100;

    &:checked + .btn-radio__btn {
      border-color: $accent-primary;
    }

  }

}



  .radio-button__title {
    @extend .gamma;
    display: block;
  }

  .radio-button__description {
    display: block;
  }



input[type="file"] {
  position: absolute;
  left: -999px;

}


