/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

%layout {
    min-width: 300px;
    max-width: 960px;
    padding: 0 2em;
    margin: 0 auto;

    // @include breakpoint(single) {
    //     padding: 0 1em;
    // }

}

.layout-constrained {
	@extend %layout;
}


.step-list {
	@extend %grid; 
}

.step-item {
	@extend %grid__item;
	text-align: center;
}

.step-item--trio {
	@extend %one-third;
}

    .step-item__title {
        //@extend .hN;
    }

    .step-item__detail { 
        max-width: 15.625em;
        margin: 0 auto;
    }



.section-overview {
    margin-bottom: 2.5em;
}


/*------------------------------------*\
    $HERO BANNER
\*------------------------------------*/
.hero-banner {
	padding-bottom: 2em;
	background: #ddd;
}


.container-block {
    //text-align: center;

    .layout-constrained {
        padding: 3em 0;
        border-bottom: 1px solid $base-ui-color;
    }
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header-site {
    margin-bottom: 2em;
    padding: 1em 0;
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer-site {
    text-align: center;
}


/*------------------------------------*\
    $ICONS & TYPOGRAPHY
\*------------------------------------*/

.progress-step {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 2px solid #ddd;
    border-radius: 3em;
    text-align: center;
    line-height: 2em;
    margin-right: .25em;
}

