@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<article class="register main-content">
    <section class="layout-constrained layout-constrained--narrow">
        <div class="layout-constrained layout-constrained--narrow">

            <div class="page-intro">
                <h1>Upload Your Picture &amp; Nominate</h1>
                <p>
                    Great work for making your donation, you can now upload your proof for completing the challenge.
                </p>
            </div>

            <div class="form-panel">
                <h2 class="progress-step"><span class="progress-step__indicator">3</span>Upload picture</h2>
                
                <fieldset>
                    <legend class="form-step__intro">Prove you have done the challenge</legend>

                    <div class="form-group">

                        <form id="upload-form" action="/register/4" method="POST" enctype="multipart/form-data">
                            <label for="proof-file" class="btn btn--primary">
                                Upload your image
                                <input type="file" id="proof-file" name="file" onchange="$('#upload-form').submit();" />
                            </label>

                        </form>


                    </div>
                </fieldset>
            </div>

        </div>
    </section>
</article>