@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

This is a login page.

<a href="/authentication/redirect/twitter">Here to log in using twitter</a>