@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HackManchester2014.Challenge.Models.ChallengeViewModel>


<h1>@Model.Title</h1>

<form action="/@Model.Id/donate" method="post">
    <button>Begin</button>
</form>