@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HackManchester2014.Challenge.Models.NominationViewModel>


<h1>@Model.NominatedByName nominated you</h1>
<div>Challenge: @Model.ChallengeTitle</div>
<div>Charity: @Model.CharityName</div>


<form action="/@Model.Id/donate" method="post">
    <button>Accept</button>
</form>