@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HackManchester2014.Challenge.Models.ChallengesViewModel>

<article class="register main-content">
    <section class="layout-constrained layout-constrained--narrow">
        
        <div class="layout-constrained layout-constrained--narrow">
            <div class="page-intro">
                <h1>Accept Your Challenge</h1>

            </div>

            <div>
                <h2 class="progress-step"><span class="progress-step__indicator">2</span> Accept your challenge</h2>

            </div>

            <fieldset>
                <legend class="form-step__intro">Please select the challenge you would like to complete...</legend>


                <ul class="form-group input-list input-list--trio">
                    @foreach (var c in Model.Challenges)
                    {
                        <li class="input-list__item">
                            <label for="@c.Id" class="btn-radio">
                                <input type="radio" id="@c.Id" name="challengeSelection" class="js-option" />
                                <span class="btn-radio__btn">
                                    <span class="radio-button__title">@c.Title</span>
                                    <span class="radio-button__description">@c.Brief</span>
                                </span>
                            </label>
                        </li>
                    }
                </ul>

                <div class="form-actions form-actions--divide">
                    <span class="form-actions__content">
                        <a class="btn btn--primary js-continue">Continue</a>
                    </span>
                </div>
            </fieldset>
        </div>
    </section>
</article>

<script>
$(function(){
    $('.js-continue').click(function (ev) {
        ev.preventDefault();

        var $selected = $('.js-option:checked');
        if ($selected.length) {
            var id = $selected[0].id;
            window.location = '/' + id;
        }
    });
});
</script>
