@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<article class="register main-content">
    <section class="layout-constrained layout-constrained--narrow">
        <div class="form-panel">
            <h2 class="progress-step"><span class="progress-step__indicator">3</span>Make your donation</h2>
            <div class="form-step__intro">
                <p>
                    Before you can nominate we need you to make your donation. You will be taken to JustGiving to securely take your payment.
                </p>
            </div>

            <div class="form-actions form-actions--divide">
                <span class="form-actions__content">
                    <a class="btn btn--primary" href="#">Go to Just Giving</a>
                </span>
            </div>
        </div>
    </section>
</article>