<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}ProjectX Boom!{% endblock %}</title>
        {{ "projectx.css" | asset_url | stylesheet_tag }}
        <!-- TODO: Complete this project :) -->

        <script src="//use.typekit.net/qhz1mph.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
    
    {% block content %}{% endblock %}
     
    {% include "footer" %}

    </body>
</html>