{% block content %}

<header class="site-header">
	<img class="logo-site" src="http://placehold.it/125x75" />
</header>

<div class="hero-banner group">

	<div class="hero-banner__body">
		<h1 class="kilo">Project X</h1>
		<p class="">
			Using the power of social media to to change the world one link at a time.
		</p>
		<a href="#" class="btn btn--primary">Get Involved</a>
	</div>

	<div class="stat-group stat-group--hero">
        <dl class="stat">
            <dd class="stat__value">106</dd>
        	<dt class="stat__title">Challenges</dt>
        </dl>

        <dl class="stat">
            <dd class="stat__value">£1,060</dd>
            <dt class="stat__title">Raised so far</dt>
        </dl>
    </div>

</div>

<div class="">
	<h2>Recent Completed Challenges</h2>
	<p>You can become a #projectxer</p>

</div>


	





{% endblock %}