<footer role="contentinfo" class="footer-site">
	<div class="layout-constrained">
		<ul class="nav inline-items">
			<li class="nav__item"><a class="nav__link" href="#">Terms</a></li>
			<li class="nav__item"><a class="nav__link" href="#">Who's Behind this?</a></li>
	    	<li class="nav__item"><a class="nav__link" href="mailto:hello@domain.com">Get in touch</a></li>
		</ul>
		<small>© 2014 ProjectX</small>
	</div>
</footer>	