<header class="header-site">
	<div class="layout-constrained">
		<img class="logo-site" src="http://placehold.it/125x75" />
		<ul class="nav nav--site">
			<li class="nav__item">
				<a href="#" class="nav__link btn btn--tertiary btn--l">Sign In</a>
			</li>
		</ul>
	</div>
</header>